<!DOCTYPE html>
<html lang="es">
<head>
    <% include ../partials/header %>  
    

    <title>Panel de Usuario</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <div class="navbar-brand">Panel de Usuario</div>
        </div>
    </nav>


</body>

</html>