<% include ./header %>
    <title>Agregar Banco</title>
</head>

<body>
    <%include ./menu %>
    <div class="contenido abrir">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container navbar-brand">Agregar Banco
        </div>
    </nav>
    
    <i id="menu-bar" class="fas fa-bars fa-2x m-2"></i>
    
    <div class="col-7">
        
        <div class="card m-2 pt-3">
            
            <div class="card-body">
                <form action="/bancos" method="post">
                    <div class="form-group row">
                        <div class="col-2"></div>
                        <input type="text" name="nombre" id="nombre" class="form-control col-8" placeholder="Nombre" required>
                    </div>
                    <div class="form-group row">
                        <div class="col-2"></div>
                        <input type="number" name="telefono" id="telefono" class="form-control col-8" placeholder="Teléfono" required>
                    </div>
                    <div class="form-group row">
                        <div class="col-2"></div>
                        <input type="email" name="email" id="email" class="form-control col-8" placeholder="Email" required>
                    </div>
                    <div class="form-group row">
                        <div class="col-2"></div>
                        <input type="submit" value="Agregar" class="btn btn-primary mr-2">
                        <a href="/bancos" role="button" class="btn btn-secondary mr-2">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
<script src="/js/abrirMenu.js"></script>
<script>
    $(document).ready(()=>{
        $('#nombre').focus();
    })
</script>
</body>
</html>