<!DOCTYPE html>
<html lang="es">
<head>
    <% include ./partials/header %>

    <title>Modalidades de Pago</title>
</head>
<body>
    <%include ./partials/menu %>

    <div class="contenido abrir">

        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="navbar-brand">Modalidades de Pago</div>
        </nav>   
        
        <i id="menu-bar" class="fas fa-bars m-2 fa-2x"></i>        
        
        <div class="container">
            <div class="row mb-3">                
                <a href="/modalidades/agregar" class="btn btn-primary">Agregar Modalidad de Pago</a>
            </div>
            
            <div class="row">
                <div class="table-responsive col-md-10">
                    <table id="tabla_modalidades" class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</td>
                                <th>Nombre</th>                     
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(var i = 0; i < modalidades.length; i++){ 
                                if(modalidades[i].activa == 1){%>
                                    <tr style='color: red'>
                                <%}else{%>
                                    <tr>
                                <%}%>
                                
                                    <td>
                                        <%= i+1 %>
                                    </td>
                                    <td>
                                        <%= modalidades[i].nombreModalidad %>
                                    </td>
                                    
                                    <td>
                                        <a href="/modalidades/edit/<%=modalidades[i].idModalidad %>" role="button" class="btn btn-secondary btn-sm" >
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        
                                        
                                    </td>                         
                                
                                </tr>
                            <% } %>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>#</td>
                                <th>Nombre</th>                       
                                <th>Acciones</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        

    </div>

    <script>
        
        $(document).ready(() => {
            $('#tabla_modalidades').DataTable({
                "language": {
                    "lengthMenu": "Mostrar _MENU_ Registros por página",
                    "zeroRecords": "No se encontraron resultados en su búsqueda.",
                    "searchPlaceholder": "Buscar Modalidad",
                    "info": "Mostrando registros del _START_ al _END_ de un total de _MAX_",
                    "infoEmpty": "No existen registros.",
                    "infoFiltered": "(Filtrado de un total de _MAX_ registros",
                    "search": "Buscar:",
                    "paginate": {
                        "fist": "Primero",
                        "last": "Último",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                },

                "columnDefs": [
                    {"className": "dt-center", "targets": "_all"}
                ],
            });
        })

    </script>

    <script src="/js/abrirMenu.js"></script>

</body>